.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-map-marker {
	width: 0.5712890625em;
}

.icon-twitter {
	width: 0.9287109375em;
}

.icon-link {
	width: 0.9287109375em;
}

.icon-retweet {
	width: 1.0712890625em;
}
