$san-serif-font: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

$linkedin-blue: #0077b5;
$facebook-blue: #3b5998;
$twitter-blue: #1da1f2;
$youtube-red: #e52d27;
$flickr-blue: #0063dc;
$flickr-pink: #ff0084;
$materiell-green: #a1db35;
